<!-------------------- スタッフ厳選 ------------------------>
<section id="pickup">
  <div class="section_inner">
    <div class="title_img fadeIn"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup.svg" alt=""></div>
    <div class="pickup_inner">

      <div class="pickup_flex fadeIn">
        <a href="products/石垣牛-あぐー豚ステーキセット"><img
            class="is_pc"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup01.png"
            alt="">
          <img
            class="is_sp"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup01_sp.png"
            alt="">
        </a>
        <a href="products/石垣牛-あぐー豚すきしゃぶセット"><img
            class="is_pc"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup02.png"
            alt="">
          <img
            class="is_sp"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup02_sp.png"
            alt="">
        </a>
      </div>

      <div class="pickup_flex_02 pickup_flex_03 fadeIn">
        <a href="pages/lp05"><img
            class="is_pc"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup03.png"
            alt=""><img
            class="is_sp"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup03_sp.png"
            alt=""></a>

      </div>
      <a href="pages/lp03"><img
          class="is_pc fadeIn"
          src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup05.png"
          alt=""><img
          class="is_sp"
          src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup05_sp.png"
          alt=""></a>
      <a href="pages/lp02"><img
          class="is_pc fadeIn"
          src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup06.png"
          alt=""><img
          class="is_sp"
          src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup06_sp.png"
          alt=""></a>
      <div class ="pickup_flex_02 pickup_flex_02_sp fadeIn">
        <!--<a href="#"><img
            class="is_pc"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup07.png"
            alt=""><img
            class="is_sp"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup07_sp.png"
            alt=""></a>
        <a href="#"><img
            class="is_pc"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup08.png"
            alt=""><img
            class="is_sp"
            src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup08_sp.png"
            alt=""></a>-->
      </div>
    </div>
  </div>
  <div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/kazari_02.svg" alt=""></div>
</section>

{% schema %}
  {
    "name": "top-page04",
    "presets": [
      {
        "name": "top-page04"
      }
    ]
  }
{% endschema %}