<!-------------------- FV ------------------------>
<section id="trade">
  <div class="trade_fv">
    <h1>特定商取引法について</h1>
  </div>
</section>

<!-------------------- パンくずリスト ------------------------>
<nav>
  <ol class="breadcrumbs">
    <li>
      <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/home.svg" alt=""></a>
    </li>
    <li>特定商取引法について</li>
  </ol>
</nav>

<!-------------------- 特定商法 ------------------------>
<section id="sctl">
  <div class="section_inner">
    <div class="sctl_wrapper">
      <table>
        <tr>
          <th>販売業者</th>
          <td>株式会社かけはし</td>
        </tr>

        <tr>
          <th>運営統括責任者</th>
          <td>兼濱　栄</td>
        </tr>

        <tr>
          <th>住所</th>
          <td>〒901-2131 沖縄県浦添市牧港1丁目32番19号 105</td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td>098-879-8480</td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>kakehashi@ever.ocn.ne.jp</td>
        </tr>

        <tr>
          <th>商品代金以外の必要料金</th>
          <td>・代金引換でご購入の際の代引手数料<br>
            決済金額に応じて代引き手数料が発生いたします。<br>
            代引き手数料（税込）：1万円以下　330円　/　3万円以下　440円　/　10万円以下　660円　/　30万円以下　1,100円<br>
            ※常温・クール便それぞれ1配送1個口につき代引き手数料がかかりますのでご了承ください。<br>
            ・送料</td>
        </tr>

        <tr>
          <th>送料について</th>
          <td>【常温便】<br>
            北海道　　　 5㎏まで　1,419円　/　5㎏～10㎏　1,540円　/　10㎏～16㎏　1,980円　/　16㎏～20㎏　2,310円<br>
            北海道以外　 5㎏まで　1,089円　/　5㎏～10㎏　1,210円　/　10㎏～16㎏　1,650円　/　16㎏～20㎏　1,980円<br>
            【クール便】<br>
            北海道　　　 2㎏まで　1,980円　/　2㎏～5㎏　2,310円<br>
            北海道以外　 2㎏まで　1,650円　/　2㎏～5㎏　1,980円<br>
            ※表示金額は税込となります。<br>
            ※離島は別途送料が必要な場合がございます。 お問い合わせください。
          </td>
        </tr>

        <tr>
          <th>申し込みの有効期限</th>
          <td>原則、受注確認（受注確認の為の自動送信メール発信）後、5日間とします。</td>
        </tr>

        <tr>
          <th>不良品</th>
          <td>商品が届きましたら直ちに内容のご確認をお願いいたします。<br>
            万が一不良品の疑いがございましたら、直ちにご連絡ください。<br>
            商品到着日から3日間以内に生じました当社責任における初期不良に付きましては、交換もしくは返金にて対応をいたします。</td>
        </tr>

        <tr>
          <th>販売数量</th>
          <td>特に指定はございません（商品によって設定あり）</td>
        </tr>

        <tr>
          <th>引き渡し時期</th>
          <td>決済完了後（代金引換を除く）、7営業日以内(土日祝日を除く)に発送いたします。<br>
            天候不順・配送業者の都合・その他何らかの理由により 遅延する場合はメール等でお知らせいたします。</td>
        </tr>

        <tr>
          <th>お支払い方法</th>
          <td>クレジットカード・代金引換</td>
        </tr>

        <tr>
          <th>お支払い期限</th>
          <td>-代金引換の場合<br>
            商品のお届け時に、配達員に代金のお支払いをお願いします。</td>
        </tr>

        <tr>
          <th>返品期限</th>
          <td>商品の返品・交換には初期不良の場合以外では応じられません。</td>
        </tr>

        <tr>
          <th>返品送料</th>
          <td>初期不良、発送商品間違いの場合、当店着払いにて対応いたします。</td>
        </tr>


      </table>
    </div>
  </div>
</section>


<div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/kazari_02.svg" alt=""></div>



<!-------------------- チェックした商品 ------------------------>
{% comment %} <section id="checked">
<div class="section_inner">
<div class="title_img"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked.svg" alt=""></div>
<div class="checked_wrapper">
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
</div>
</div>
</section> {% endcomment %}