<!-------------------- FV ------------------------>
<section id="policy">
  <div class="policy_fv">
    <h1>プライバシーポリシー</h1>
  </div>
</section>

<!-------------------- パンくずリスト ------------------------>
<nav>
  <ol class="breadcrumbs">
    <li>
      <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/home.svg" alt=""></a>
    </li>
    <li>プライバシーポリシー</li>
  </ol>
</nav>

<!-------------------- 個人情報保護方針について ------------------------>

<section id="privacy_policy">
  <div class="section_inner">
    <div class="policy_wrapper">
      <h2>個人情報保護方針について</h2>
      <p>かけはし（以下当店）利用者の皆様が安心してサービスをご利用いただけるよう、必要最小限の個人情報の提供をお願いしております。また、ご提供いただいた個人情報の保護には最大限の注意を払っており、収集、利用、保管、開示については適切な取り組みを行っております。当店は、個人情報保護に関する法令及び規範を遵守し、利用者の皆様に安心してご利用いただける環境を提供することを目指しています。
      </p>

      <div class="policy_inner">
        <p>●弊社は、会員様が登録された個人や団体・法人の情報について、最先端の機能やサービスを提供するためにのみ利用します。また、会員個人情報の保護には細心の注意を払っています。</p>
        <p>●このプライバシーポリシーは、当店が提供するサービスに対してのみ適用されます。(範囲は下記、第1項に規定)</p>
        <p>●本規約に明記された場合を除き、目的以外の利用は行いません。(目的は下記、第2項に規定)</p>
        <p>●本規約に明記された場合を除き、第三者への開示は行いません。(管理は下記、第2項に規定)</p>
        <p>●その他、本規約で定められた適切な管理方法については、定期的に実施いたします。</p>
        <p>当店は、利用者の許可なくプライバシーポリシーを変更することがあります。</p>
        <p>もし当店が個人情報取得内容や利用方法、開示内容などを変更する場合、利用者がその内容を確認できるよう、弊社ホームページのお知らせに公開し、このプライバシーポリシーに反映させて通知いたします。</p>
      </div>

      <div class="policy_inner">
        <p>1.当店のプライバシーポリシーについての考え方が適用される範囲</p>
        <p>●当店のプライバシーポリシーは、当店のサービスを利用する会員に適用されます。</p>
        <p>●当店では、会員が当店のサービスを利用する際に提供される個人情報について、当店の個人情報保護に関する考え方に従って管理を行っています。</p>
        <p>●当店の個人情報保護についての考え方は、当店が直接提供するサービスにのみ適用されます。リンク等でつながった他の組織・会社等のサービスに関しては、当該組織・会社のプライバシーポリシーが適用されるため、当店の個人情報保護についての考え方は適用範囲外となります。</p>
        <p>●当店のサービスを利用することは、利用者の責任において行われるものとします。</p>
        <p>●当店は、弊社のホームページ及び当店のホームページにリンクが設定されている他のホームページから取得された各種情報の利用によって生じたあらゆる損害に関して、一切の責任を負いません。</p>
      </div>

      <div class="policy_inner">
        <p>2.当店の個人情報の収集と利用</p>
        <p>当店では、最先端の機能やサービスを開発・提供するために、会員の皆様の個人情報が必要となる場合があります。</p>
        <p>●当店のIDとパスワードは、利用者が自己の責任において管理する必要があります。</p>
        <p>&ensp;- 定期的にパスワードを変更し、簡単に推測されるような名前や生年月日、電話番号などは避けることを推奨します。</p>
        <p>&ensp;- 知人や友人などに開示、貸与、譲渡しないようにしてください。</p>
        <p>&ensp;- パスワードはお問合せのメールに書き込まないようお願い致します。</p>
        <p>●当店は、収集された個人情報を、当店のサービスを提供するために必要な範囲内で利用することを原則とし、次の場合を除いて、いかなる第三者にも提供いたしません。</p>
        <p>●会員の同意がある場合</p>
        <p>&ensp;- 会員に対して個人情報の利用に関する同意を求めるための電子メールを送信する場合</p>
        <p>&ensp;- 当店があらかじめ機密保持契約を締結している企業（例えば、業務委託先）等に最低限の個人情報を開示する場合</p>
        <p>&ensp;- 弊社や業務提携先などから会員に向けて、広告や宣伝を目的とした電子メールやダイレクトメールを送信する場合</p>
        <p>&ensp;- 当店の方針・告知、利用規約等に違反する会員の行為により、他の会員、第三者、または当店の権利・財産を保護するために必要と認められる場合
        </p>
        <p>&ensp;-裁判所や行政機関から個人情報の開示を求められた場合、または犯罪の捜査や第三者に対する権利侵害の排除・予防など、法律に定められた場合、その他これに準ずる必要性ある場合
        </p>
        <p>●会員は、個人情報の利用について、上記で述べた方法に従うことについてあらかじめ同意し、異議を申し立てないものとします。</p>
        <p>●当店では、以下の場合に限り、弊社のビジネスパートナーと会員の個人情報を共有することがあります。</p>
        <p>&ensp;- 会員向け特別サービスなど、弊社の事業運営上必要な場合。</p>
        <p>&ensp;上記の場合、会員から同意を得ていない限り、個人情報を提供しません。</p>
        <p>&ensp;- データの集計・分析により、統計情報や市場調査データを作成する場合。</p>
        <p>&ensp;このような場合、提供する情報は、個人を特定できないように加工された情報のみとなります。</p>
      </div>

      <div class="policy_inner">
        <p>3. 当プライバシーポリシーについてのご意見、ご質問、お問い合わせについて</p>
        <p>ご不明な点やご意見・ご質問がございましたら、当店のお問い合わせ先までお気軽にお問い合わせください。</p>
        <p>お客様からいただいたご意見・ご質問・お問い合わせにつきましては、迅速に回答するよう努めております。また、お客様の貴重なご意見はサービス向上のために参考にさせていただきます。</p>
        <p>お客様の個人情報につきましては、適切に管理し、必要に応じて修正や削除の手続きを行ってまいります。</p>
      </div>

      <div class="policy_inner">
        <p>株式会社かけはし</p>
        <p>〒901-2131&ensp;沖縄県浦添市牧港1丁目5番11号</p>
        <p>電話：098-879-8480</p>
      </div>
    </div>
  </div>
</section>

<div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/kazari_02.svg" alt=""></div>



<!-------------------- チェックした商品 ------------------------>
{% comment %} <section id="checked">
<div class="section_inner">
<div class="title_img"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked.svg" alt=""></div>
<div class="checked_wrapper">
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
</div>
</div>
</section> {% endcomment %}