<!-------------------- FV ------------------------>
<section id="about">
  <div class="about_fv">
    <h1>かけはしについて</h1>
  </div>
</section>

<!-------------------- パンくずリスト ------------------------>
<nav>
  <ol class="breadcrumbs">
    <li>
      <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/home.svg" alt=""></a>
    </li>
    <li>かけはしについて</li>
  </ol>
</nav>

<!-------------------- かけはしについて ------------------------>
<section id="about_kakehashi">
  <img
    class="is_sp about_img_sp_01"
    src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/about_img_sp_01.png"
    alt="">
  <div class="section_inner">
    <img
      class="about_img_01 is_pc"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/about_01.png"
      alt="">
    <img
      class="about_img_02 is_pc"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/about_02.png"
      alt="">
    <h2>沖縄を届ける<br>“かけはし”になりたい</h2>
    <p class="about_text">我々のお取引先は空港のお土産物屋さんなどですが、出入りしている中で「こういう商品を探している」「こういう商品をつくりたい」というお声を多数頂いており、「この工場で作ったらどうだろう？」というアドバイスをよくしていたのでした。一方、製造する工場からは「どこかいい売先はないだろうか」という相談が来ておりました。この両者の間に入ってサポートをし、商品化・OEMまでをお手伝い出来ればすごくお役に立てそうだし何より楽しそう、と思いこの社名にしました。</p>
    <img
      class="about_img_03 is_pc"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/about_03.png"
      alt="">
    <img
      class="about_img_04 is_pc"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/about_04.png"
      alt="">
  </div>
</section>

<div class="about_us_img"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/about_us.png" alt=""></div>

<!-------------------- かけはしの強み ------------------------>

<section id="strength">
  <div class="section_inner">
    <div class="title_img"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/strength.svg" alt=""></div>
    <h2>想いのキャッチボール</h2>
    <p class="strength_text">
      私たちの強みは、取引先様の要望を聞いて具現化する力だと思います。<br>
      実際に我々のお客様の多くはは那覇空港や国際通りなどのお土産物屋さんです。<br>
      お土産物屋さんには多くの観光客の方が来られて日々触れているので自ずと、お客様の【ニーズ】に触れることとなります。<br>
      これはメーカーがなかなか仕入れることの出来ない、お客様の【生の声】です。<br>
      これに応えて商品化していくアイディアは思いつくんだけど、実際に商品をどうやって作ったらいいのか分からない！<br>
      そういう時こそ我々の出番だと思っています。<br>
      こういったお客様の商品の企画やOEMもアドバイスさせて頂き、実際に商品化出来る工場をご紹介する。<br>
      そしてタイミングも大切だと思うので、取引先様からのボールを止めない様にスピード感を持って<br>
      対応してちゃんと望む売価で売れるコストに抑えた上でお客様に喜んでもらえる商品をご提案する。<br>
      これこそが我々の強みだと思います。
    </p>
    <img
      class="is_pc"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/strength.png"
      alt="">
    <img
      class="is_sp"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/strength_sp.png"
      alt="">
  </div>
</section>

<!-------------------- かけはしのこだわり ------------------------>

<section id="commitment">
  <div class="section_inner">
    <div class="title_img"><img
        class="is_pc"
        src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/commitment.svg"
        alt=""><img
        class="is_sp"
        src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/commitment_sp.svg"
        alt=""></div>
    <div class="commitment_box">
      <div class="commitment_box_left">
        <h2>「沖縄県産」にこだわる</h2>
        <p>
          こだわっているのは【沖縄県産のものを使う】という部分です。<br>
          「沖縄県産の原材料」を使用して「沖縄県で製造する」というのが理想ではあります。<br>
          ただ実際に沖縄県内に製造出来る技術をもった工場がない場合もあるのでその場合は製造は他県になる事もあるのですが原材料だけは【沖縄県産】に必ずこだわっています。<br>
          そこには自分を育ててもらった沖縄県への感謝の気持ちと、沖縄県産品が実際に美味しい！という自分のこだわりがあります。
        </p>
      </div>
      <div class="commitment_box_right">
        <img
          class="is_pc"
          src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/commitment_img.png"
          alt="">
        <img
          class="is_sp"
          src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/commitment_img_sp.png"
          alt="">
      </div>
    </div>
  </div>
</section>

<div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/kazari_02.svg" alt=""></div>


<!-------------------- チェックした商品 ------------------------>
{% comment %} <section id="checked">
<div class="section_inner">
<div class="title_img"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked.svg" alt=""></div>
<div class="checked_wrapper">
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
</div>
</div>
</section> {% endcomment %}