<!-------------------- FV ------------------------>
<section
  id="page">
  <div class="page_fv">
    <img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/page_02.png" alt="">
  </div>
</section>

<!-------------------- コンテンツ部分 ------------------------>

<section id="page_contents">
  <div class="section_inner">
    <img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/sata_01.png" alt="">
    <div class="page_text">
      <p>サーターアンダギーとは、沖縄県の伝統的なスイーツで、独特の形と風味が特徴的な揚げ菓子です。サーターアンダギーは、沖縄方言で「砂糖を足す」という意味があり、砂糖をたっぷりと使った甘さが人気の秘訣です。</p>
      <p>小麦粉と砂糖を混ぜ合わせた生地を揚げることで、外側はカリッと香ばしく、内側はふんわりとした食感が楽しめます。</p>
      <p>また、サーターアンダギーには、アンコや黒糖を練り込んだもの、ココナッツを加えたものなど、様々なバリエーションがあります。特に黒糖を使用したサーターアンダギーは、風味豊かで優しい甘さがあり、沖縄の伝統的な食材を味わえる一品として人気があります。</p>
      <p>祝い事やお土産としても愛されており、沖縄のソウルフードとして多くの人々に親しまれています。</p>
    </div>
  </div>
</section>

<section id="page_contents">
  <div class="section_inner">
    <img
      class="is_pc"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/sata_02.png"
      alt="">
    <img
      class="is_sp"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/sata_02_sp.png"
      alt="">
  </div>
</section>

<div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/kazari.svg" alt=""></div>

{% section 'item-lineup-lp02' %}