<!-------------------- FV ------------------------>
<section
  id="page">
  <div class="page_fv">
    <img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/page_01.png" alt="">
  </div>
</section>

<!-------------------- コンテンツ部分 ------------------------>
<section id="page_contents">
  <div class="section_inner">
    <img
      class="is_pc"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/isigakigyu.png"
      alt="">
    <img
      class="is_sp"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/isigakugyu-sp.png"
      alt="">
  </div>
</section>

<section id="page_contents">
  <div class="section_inner">
    <img
      class="is_pc"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/agu.png"
      alt="">
    <img
      class="is_sp"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/agu-sp.png"
      alt="">
  </div>
</section>

<div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/kazari.svg" alt=""></div>

<!-------------------- おすすめ商品 ------------------------>
<section id="page_recommend">
  <div class="section_inner">
    <img
      class="osusume"
      src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/page_recommend.png"
      alt="">
    <div class="page_reco_box">
      <a href="/products/石垣牛-あぐー豚ステーキセット"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup01.png" alt=""></a>
      <a href="/products/石垣牛-あぐー豚すきしゃぶセット"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/pickup02.png" alt=""></a>
    </div>
  </div>
</section>

<div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/kazari_02.svg" alt=""></div>

{% section 'item-lineup-lp01' %}

<!-------------------- チェックした商品 ------------------------>
{% comment %} <section id="checked">
<div class="section_inner">
<div class="title_img"><img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked.svg" alt=""></div>
<div class="checked_wrapper">
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
<a class="checked_inner" href="#">
<img src="https://cdn.shopify.com/s/files/1/0735/7982/3415/files/checked_00.png" alt="">
<p>商品名が入ります</p>
<span>1,080円</span>
</a>
</div>
</div>
</section> {% endcomment %}